div#datatable
	script#datatabletemplate(type="text/template").
		<div class="datacard">
			<table class="names">
				<thead>
					<th>Name</th>
					<th>Bayer / Flamsteed</th>
					<th>Gliese</th>
					<th>HD</th>
					<th>HR</th>
				</thead>
				<tbody>
					<tr>
						<td><a href="https://www.wolframalpha.com/input/?i=<%= ProperName %>" target="info"><%= ProperName %></a></td>
						<td><a href="https://www.wolframalpha.com/input/?i=<%= BayerFlamsteed %>" target="info"><%= BayerFlamsteed %></a></td>
						<td><a href="https://www.wolframalpha.com/input/?i=<%= Gliese %>" target="info"><%= Gliese %></a></td>
						<td><%= HD %></td>
						<td><%= HR %></td>
					</tr>
				</tbody>
			</table>

			<table class="details">
				<thead>
					<th>light years</th>
					<th>parsecs</th>
					<th>magnitude</th>
					<th>spectral type</th>
					<th>color index</th>
				</thead>
				<tbody>
					<tr>
						<td><%= LightYearsAway %></td>
						<td><%= Distance %></td>
						<td><%= Mag %></td>
						<td><%= Spectrum %></td>
						<td><%= ColorIndex %></td>
					</tr>
				</tbody>
			</table>

			<table class="numerics">
				<thead>
					<th>right ascension</th>
					<th>declination</th>
				</thead>
				<tbody>
					<tr>
						<td><%= RA %></td>
						<td><%= Dec %></td>
					</tr>
				</tbody>
			</table>

			<table class="numerics">
				<thead>
					<th>x</th>
					<th>y</th>
					<th>z</th>
				</thead>
				<tbody>
					<tr>
						<td><%= X %></td>
						<td><%= Y %></td>
						<td><%= Z %></td>
					</tr>
				</tbody>
			</table>

			<table class="numerics">
				<thead>
					<th>vx</th>
					<th>vy</th>
					<th>vz</th>
				</thead>
				<tbody>
					<tr>
						<td><%= VX %></td>
						<td><%= VY %></td>
						<td><%= VZ %></td>
					</tr>
				</tbody>
			</table>
		</div>
