@font-size: 1rem;
@font-default: @font-size "Lucida Grande", Helvetica, Arial, sans-serif;

@bg-color: #CBCBDD;
@link-color: #0F3A88;

body {
	padding: 50px;

	background-color: @bg-color;
	font: @font-default;
}

a {
	color: @link-color;
}
